DATABASE_URL=postgresql://user:password@host/database?sslmode=require
AUTO_UPDATE_URL=http://192.168.1.50:4800/win
AUTO_UPDATE_PROVIDER=github
AUTO_UPDATE_GITHUB_REPOSITORY=fidelnyame-80/i-able-admin
